body {
   background-color: aquamarine;
    position: absolute;
    top: 300px; left: 350px;
    width: 100%;
    font-size: 22px;
    color: #FD6A02
        }

h1 {
    font-family: "brush script mt";
    font-size: 80px;
    position: absolute;
    top: -200px; left: 30px
}